
@media(max-width:1200px){
    .container{
        max-width:970px;
        
    }
}
@media(max-width:992px) {
    .container{
max-width: 970px;
    }
    
}
@media(max-width:767px) {
    .container{
max-width: none;
    }
    
}
.container{
    display:flex;
    flex-direction: column;
    min-width: 90%;
    min-height:50%;
    margin: 5% 2% 5% 2%;
    background-color:rgb(165, 120, 53);
}
.length{
    font-family:open-sansl;
}
.title{
    font-family:open-sansl;

}
.advantage{
    position:flex;
    padding-left: 0%;
    padding-right: 66%;
    height:25%;
    width:25%;
    margin:0%;
}
.container #1{

}
ul{
  list-style-image: url(C:\tznew\FIGMATZ\cm.png);
}